# -*- coding: utf-8 -*-
# Copyright (C) 1998-2016 by the Free Software Foundation, Inc.
#
# This file is part of Postorius.
#
# Postorius is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free
# Software Foundation, either version 3 of the License, or (at your option)
# any later version.
#
# Postorius is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along with
# Postorius.  If not, see <http://www.gnu.org/licenses/>.


from django.urls import include, path, re_path, reverse_lazy
from django.contrib import admin
from django.contrib.sites.models import Site
from django.core.exceptions import ObjectDoesNotExist
from django.views.generic import RedirectView

# Override list_new view to hide lists by default
from views.list import list_new

import django_cas_ng.views as cas_ng_views

try:
    current_site = Site.objects.get_current()
    domain = current_site.domain
except ObjectDoesNotExist:
    current_site = None
    domain = "mailman.local"

urlpatterns = [
    path('', RedirectView.as_view(
        url=reverse_lazy('list_index'),
        permanent=True)),
    path('mailman/lists/new/', list_new, name='mm_list_new'),
    path('mailman/create', list_new, name='mm_list_new'),
    path('mailman/', include('postorius.urls')),
    path('archive/', include('hyperkitty.urls')),
    path('', include('django_mailman3.urls')),
    path('mailman/listinfo?/', RedirectView.as_view(url='/{{ mailman3_postorius_root }}lists/')),
    re_path(r'^mailman/listinfo/(?P<path>.*?)?/', RedirectView.as_view(url=f'/{{ mailman3_postorius_root }}lists/%(path)s.{domain}')),
    re_path(r'^mailman/subscribe/(?P<path>.*?)?/', RedirectView.as_view(url=f'/{{ mailman3_postorius_root }}lists/%(path)s.{domain}')),
    re_path(r'^mailman/admin/(?P<path>.*?)?/', RedirectView.as_view(url=f'/{{ mailman3_postorius_root }}lists/%(path)s.{domain}')),
    re_path(r'^mailman/admindb/(?P<path>.*?)?/', RedirectView.as_view(url=f'/{{ mailman3_postorius_root }}lists/%(path)s.{domain}/held_messages')),
    re_path(r'^pipermail/(?P<path>.*?)?/$', RedirectView.as_view(url=f'/{{ mailman3_hyperkitty_root }}list/%(path)s@{domain}')),
    re_path(r'^pipermail/(?P<path>.*?)?/(?P<year>\d{4})-(?P<remainder>.*?)$', RedirectView.as_view(url=f'/{{ mailman3_hyperkitty_root }}list/%(path)s@{domain}/%(year)s/01/#%(remainder)s')),
    path('accounts/cas/login/', cas_ng_views.LoginView.as_view(), name='cas_ng_login'),
    path('accounts/cas/logout/', cas_ng_views.LogoutView.as_view(), name='cas_ng_logout'),
    path('accounts/cas/callback', cas_ng_views.CallbackView.as_view(), name='cas_ng_proxy_callback'),    
    path('accounts/', include('allauth.urls')),
    # Django admin
    path('admin/', admin.site.urls),
]
